<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="ABa's RCP Samples"
            id="de.baeckerit.samples.rcp.view.category">
      </category>
      <view
            name="Very Simple View"
            category="de.baeckerit.samples.rcp.view.category"
            class="de.baeckerit.samples.rcp.view.simple.VerySimpleView"
            id="de.baeckerit.samples.rcp.view.simple">
      </view>
   </extension>
</plugin>
