<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="ABa's RCP Samples"
            id="de.baeckerit.samples.rcp.view.category">
      </category>
      <view
            name="View Categories"
            category="de.baeckerit.samples.rcp.view.category"
            class="de.baeckerit.samples.rcp.view.multiple.ViewCategories"
            id="de.baeckerit.samples.rcp.view.viewCategories">
      </view>
      <view
            allowMultiple="true"
            name="Views"
            category="de.baeckerit.samples.rcp.view.category"
            class="de.baeckerit.samples.rcp.view.multiple.ViewDescriptorsByCategory"
            id="de.baeckerit.samples.rcp.view.viewDescriptorsByCategory">
      </view>
   </extension>
</plugin>
